<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alarm_clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,82}</string>
                <key>spriteSourceSize</key>
                <string>{79,82}</string>
                <key>textureRect</key>
                <string>{{427,919},{79,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banker_sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{450,1003},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_agree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,69}</string>
                <key>spriteSourceSize</key>
                <string>{208,69}</string>
                <key>textureRect</key>
                <string>{{49,483},{208,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_back_sala.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,69}</string>
                <key>spriteSourceSize</key>
                <string>{208,69}</string>
                <key>textureRect</key>
                <string>{{120,483},{208,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_chi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{134,138}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{191,483},{134,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dismiss_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,69}</string>
                <key>spriteSourceSize</key>
                <string>{208,69}</string>
                <key>textureRect</key>
                <string>{{1,718},{208,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_gang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{136,138}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{76,903},{136,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{134,138}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{214,623},{134,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_message.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,51}</string>
                <key>spriteSourceSize</key>
                <string>{57,51}</string>
                <key>textureRect</key>
                <string>{{456,725},{57,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_pass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{368,188},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_peng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{214,763},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,69}</string>
                <key>spriteSourceSize</key>
                <string>{208,69}</string>
                <key>textureRect</key>
                <string>{{72,693},{208,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_refuse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,69}</string>
                <key>spriteSourceSize</key>
                <string>{208,69}</string>
                <key>textureRect</key>
                <string>{{143,693},{208,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{188,1063},{54,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_weixin_invite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,70}</string>
                <key>spriteSourceSize</key>
                <string>{304,70}</string>
                <key>textureRect</key>
                <string>{{296,47},{304,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{126,128}</string>
                <key>textureRect</key>
                <string>{{187,355},{126,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chi_select_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,152}</string>
                <key>spriteSourceSize</key>
                <string>{293,152}</string>
                <key>textureRect</key>
                <string>{{1,47},{293,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chi_unselect_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,152}</string>
                <key>spriteSourceSize</key>
                <string>{293,152}</string>
                <key>textureRect</key>
                <string>{{1,201},{293,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decision_sign_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,122}</string>
                <key>spriteSourceSize</key>
                <string>{110,122}</string>
                <key>textureRect</key>
                <string>{{327,479},{110,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decision_sign_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,130}</string>
                <key>spriteSourceSize</key>
                <string>{122,130}</string>
                <key>textureRect</key>
                <string>{{214,901},{122,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decision_sign_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,120}</string>
                <key>spriteSourceSize</key>
                <string>{124,120}</string>
                <key>textureRect</key>
                <string>{{317,353},{124,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decision_sign_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,126}</string>
                <key>spriteSourceSize</key>
                <string>{184,126}</string>
                <key>textureRect</key>
                <string>{{1,355},{184,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dismiss_room_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,46}</string>
                <key>spriteSourceSize</key>
                <string>{233,46}</string>
                <key>textureRect</key>
                <string>{{1,483},{233,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fan_pao_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,38}</string>
                <key>spriteSourceSize</key>
                <string>{87,38}</string>
                <key>textureRect</key>
                <string>{{469,394},{87,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headallbk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,103}</string>
                <key>spriteSourceSize</key>
                <string>{102,103}</string>
                <key>textureRect</key>
                <string>{{352,725},{102,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headbk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{350,603},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laizi_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,88}</string>
                <key>spriteSourceSize</key>
                <string>{87,88}</string>
                <key>textureRect</key>
                <string>{{352,830},{87,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mahjong_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,44}</string>
                <key>spriteSourceSize</key>
                <string>{484,44}</string>
                <key>textureRect</key>
                <string>{{1,1},{484,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msg_bubble_btm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,64}</string>
                <key>spriteSourceSize</key>
                <string>{69,64}</string>
                <key>textureRect</key>
                <string>{{326,1039},{69,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msg_bubble_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,52}</string>
                <key>textureRect</key>
                <string>{{442,849},{64,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>msg_bubble_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,52}</string>
                <key>spriteSourceSize</key>
                <string>{71,52}</string>
                <key>textureRect</key>
                <string>{{245,1063},{71,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msg_bubble_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{439,328},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msg_set_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,73}</string>
                <key>spriteSourceSize</key>
                <string>{175,73}</string>
                <key>textureRect</key>
                <string>{{1,928},{175,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>off_line_sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,41}</string>
                <key>spriteSourceSize</key>
                <string>{63,41}</string>
                <key>textureRect</key>
                <string>{{456,784},{63,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>outmjtile_sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,45}</string>
                <key>spriteSourceSize</key>
                <string>{34,45}</string>
                <key>textureRect</key>
                <string>{{397,1039},{34,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{439,506},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speaker1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,8}</string>
                <key>spriteSourceSize</key>
                <string>{6,8}</string>
                <key>textureRect</key>
                <string>{{318,1063},{6,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timebk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,38}</string>
                <key>spriteSourceSize</key>
                <string>{104,38}</string>
                <key>textureRect</key>
                <string>{{76,1043},{104,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn_pos_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,110}</string>
                <key>spriteSourceSize</key>
                <string>{28,110}</string>
                <key>textureRect</key>
                <string>{{439,394},{28,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn_pos_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,28}</string>
                <key>spriteSourceSize</key>
                <string>{110,28}</string>
                <key>textureRect</key>
                <string>{{76,1083},{110,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn_pos_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,110}</string>
                <key>spriteSourceSize</key>
                <string>{28,110}</string>
                <key>textureRect</key>
                <string>{{338,1009},{28,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>turn_pos_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,28}</string>
                <key>spriteSourceSize</key>
                <string>{110,28}</string>
                <key>textureRect</key>
                <string>{{214,1033},{110,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn_pos_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{368,47},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>voice_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,88}</string>
                <key>spriteSourceSize</key>
                <string>{87,88}</string>
                <key>textureRect</key>
                <string>{{338,919},{87,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>play_scene.png</string>
            <key>size</key>
            <string>{508,1118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2854eafd2f5e41c7868cef9aad3749a:69efb5d9a9221c946d3c7cadbcb4148b:ca72ed2e62fd901316fef6ea7eb08a16$</string>
            <key>textureFileName</key>
            <string>play_scene.png</string>
        </dict>
    </dict>
</plist>
